
h1 {
    height: 150px;
    text-align: center;
    height: 120px;
    top: 280px;
    left: 452px;
}
:root {
    --text-color: #05219f;
    --alt-text-color: #2196f3;

}
.logo { 
    display: block;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-right: 93px;
}
span {
    color: var(--alt-text-color);
    color: #2196f3;
    font-family: 'Raleway', sans-serif;

}
nav a {
    color: var(--text-color);
}
.number {
    color: #2196f3;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}
.Designer {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #51515172;
}
.Developer {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #51515172;
}
.UI-Designer {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #51515172;
}
.Marketing {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #51515172;
}


   
footer {
    background-color: #2F303A; 
    height: 180px;
    color: rgb(211, 211, 211);
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding: 5px 200px;
    max-width: 1600px;
}
header>.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    max-width: 1600px;
}
.Nav-List {
   display: flex;
  justify-content: space-between;
  align-items: center;
    gap: 30px;
}
.contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
ul {
    list-style: none;
    padding: 0;
}
.Hero {
    background-color: #2F303A;
    padding: 220px 0;
    text-align: center;
    min-width: 1600px;
}
.Title {
    max-width: 696px;
    margin: 0 auto 30px;
    font-size: 44px;
    color: #ffffff;
}
.btn {
   display: grid;
   align-items: center;
   padding: 0 32px;
   min-width: 216px;
   height: 50px;
   background-color: #2196f3;
   color: #ffffff;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
   justify-content: center;
   margin: 0 auto;
}
.Team{
    gap: 10px;
    background-color: #F5F4FA;
    border: 1px solid #e0e0e0;
    padding: 60px 200px;
}
.Team-Title {
    margin: 0 auto;
    max-width: 696px;
    text-align: center;

}
.Card{
    text-align: center;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
}
.Team-Img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    margin: 0 auto 15px;
   flex-grow: 1;
}
.Team-List{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.phone {
    color: #757575;
}
.buttons{
    display: flex;
    gap: 10px;
    padding: 60px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.button-blue{
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 auto;
}
.button{
    background-color: #F5F4FA;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 auto;

}
.portfolio-title {
    color: #757575;
}
.portfolio-card {
    max-width: 370px;
    margin: 0 auto;
    display: grid;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    
}
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
  }
  .features{
      max-width: 1170px;
      min-height: 98px;
      padding: 60px 0;
    margin: 0 auto;
    display: grid;
  }
.feature-list {
   display: flex;
    flex-grow: 1;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.feature-item-1::before{
      content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  outline: auto;
  background-size: 70px;
  background-color: rgb(0, 0, 0);
  background: url(../img/antenna\ 1.png)
  no-repeat center;
}
.feature-item-2::before{
      content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  outline: auto;
  background-size: 70px;
  background-color: rgb(0, 0, 0);
  background: url(../img/clock\ 1.png)
  no-repeat center;
}
.feature-item-3::before{
      content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  outline: auto;
  background-size: 70px;
  background-color: rgb(133, 133, 133);
  background: url(../img/diagram\ 1.png)
  no-repeat center;
}
.feature-item-3::before{
      content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  outline: auto;
  background-size: 70px;
  background-color: rgb(133, 133, 133);
  background: url(../img/astronaut\ 1.png)
  no-repeat center;
}
ul {
    list-style: none;
    padding: 0;
}
.Servises {
   max-width: 1170px;
    margin: 0 auto;
    display: grid;
    padding: 60px 0;
}
.Servises-List {
   display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40px;
    gap: 20px;
}
.Servises-Item {
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}
.Servises-Title{
    margin: 0 auto;
    max-width: 696px;
    text-align: center;
    
}
