html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 320px;
    color: var(--text-color);
    background-color: #ffffff;
    overflow-x: hidden;
}

img,
svg {
    max-width: 100%;
    display: block;
}

button,
input,
textarea {
    font-family: inherit;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2rem;
    line-height: 1.1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

@include max-width($breakpoint-md) {
    .container {
        padding: 0 12px;
    }
}

@include max-width($breakpoint-sm) {
    .container {
        padding: 0 10px;
    }
}

span {
    color: var(--alt-text-color);
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons {
    @extend %flex-center;
    gap: 10px;
    margin-top: 16px;
}

.phone {
    color: #757575;
}

.number {
    color: var(--alt-text-color);
    @include transition-default(color);

    &:hover {
        color: #757575;
    }
}


