/* Змінні */

a {
    text-decoration: none;
}

h1 {
    height: 150px;
    text-align: center;
    height: 120px;
    top: 280px;
    left: 452px;
    font-size: 44px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

span {
    color: var(--alt-text-color);
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.social-icons {
    @extend %flex-center;
    gap: 10px;
    margin-top: 16px;
}

.phone {
    color: #757575;
}

.number {
    color: var(--alt-text-color);
    @include transition-default(color);

    &:hover {
        color: #757575;
    }
}


