$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

@mixin min-width($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin max-width($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
