header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon {
    width: 16px;
    height: 12px;
    margin-left: -15px;
}

.Nav-List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
}