.hero {
    background-color: #2F303A;
    padding: 220px 0;
    text-align: center;
    min-width: 1600px;
    background: url(../img/Img\ \(19\).png);
    margin-bottom: 60px;
}

.hero__title {
    max-width: 696px;
    margin: 0 auto 30px;
    font-size: 44px;
    color: #ffffff;
}