.Designer,
.Developer,
.UI-Designer,
.Marketing {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #51515172;
}

.card-svg {
    width: 20px;
    height: 20px;
    fill: #757575;
}

.card-svg-1 {
    width: 20px;
    height: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #F5F4FA;
    fill: #757575;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #2196f3;
        fill: #ffffff;
    }
}